@layer utilities {
    .custom-bg {
    }
}

body {
    margin: 10px;
}

.book-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 3%;
    margin: 2%;
}

li {
    margin: 0;
}

.my-custom-link {
    @apply link link-primary;
}

.page-title {
    display: flex;
    justify-content: center;
    padding: 0.5% 0;
}

.custom-form {
    padding: 0 20%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}