<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflets</title>
    <link rel="stylesheet" href="styles/css/main.css">
</head>
<header>
    <nav>
        <a href="/"><img src="images/logo6.png" alt=""></a>
        <div class="nav-links">
            <h3>Search</h3>
            <h3>My Notes</h3>
            <h3>Profile</h3>
            <h3>Logout</h3>
        </div>
    </nav>
</header>