<body>
    <%- include ("partials/header.ejs") %>

    <h1 class="text-4xl font-medium page-title">My Books</h1>
    <ol class="book-grid">
        <% books.forEach((book) => { %>
            <li> 
              <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">
                    <a class="btn-ghost" href="/books?id=<%= book.id %>"><%= book.book_name %> </a>
                  </h2>
                  <p><em><%= book.author%></em></p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
            </li>
        <% }); %>
    </ol>

    <h4><a href="/newbook">Add Book</a></h4>
</body>

<button class="my-button">HeLLO</button>
</html>