<body>
    <%- include ("partials/header.ejs") %>

    <h3>My Books</h3>
    <ol>
        <% books.forEach((book) => { %>
            <li> <a href="/books?id=<%= book.id %>"><%= book.book_name %> </a> </li>
        <% }); %>
    </ol>

    <h4><a href="/newbook">Add Book</a></h4>
</body>
</html>